<template>
  <div class="app flex-row align-items-center mt-5">
    <div class="container">
      <b-row class="justify-content-center">
        <b-col lg="8">
          <b-card-group>
            <b-card no-body class="p-4 col-12 col-lg-7 ">
              <b-card-body>
                <b-form>
                  <h1>Login</h1>
                  <p class="text-muted">Ingresa en tu cuenta</p>
                  <b-input-group class="mb-3">
                    <b-input-group-prepend><b-input-group-text><font-awesome-icon icon="user-tie"></font-awesome-icon></b-input-group-text></b-input-group-prepend>
                    <b-form-input type="email" class="form-control" v-model="email" placeholder="email" autocomplete="email" />
                  </b-input-group>
                  <b-input-group class="mb-4">
                    <b-input-group-prepend><b-input-group-text><font-awesome-icon icon="key"></font-awesome-icon></b-input-group-text></b-input-group-prepend>
                    <b-form-input type="password" class="form-control" v-model="password" placeholder="Password" autocomplete="current-password" />
                  </b-input-group>
                  <b-row>
                    <b-col cols="6">
                      <b-button variant="primary" class="px-4" @click="login">Login</b-button>
                    </b-col>
                    <b-col cols="6" class="text-right">
                      <b-button variant="link" class="px-0">Olvidates tu password?</b-button>
                    </b-col>
                  </b-row>
                </b-form>
              </b-card-body>
            </b-card>

            <b-card no-body class="text-white bg-primary py-5 col-12 col-lg-5" style="">
              <b-card-body class="text-center">
                <div>
                  <h2>Registrate</h2>
                  <p>Para registrarte deberas realizar un pedido al administrador a traves del "Registrate Ahora"</p>
                  <b-button variant="light" class=" mt-3">Registrate Ahora!</b-button>
                </div>
              </b-card-body>
            </b-card>
          </b-card-group>
        </b-col>
      </b-row>
    </div>
  </div>
</template>

<script>
import store from '@/store.js';
import router from '@/router.js'
export default {
  name: 'Login',
  data(){
    return{
      password:'',
      email:''
    }
  },
  methods:{
    async login(){
      try {
        let responseHttp = await this.axios.post('usuario/login',{email: this.email, password: this.password});
        store.dispatch("guardarToken", responseHttp.data.tokenReturn);
        this.$router.push({name: 'home'});
      } catch (error) {
        console.log(error);
        this.showMsg(
          "Login", 
          "Contraseña o mail incorrecto, revise los datos", 
          "danger"
        );
      }
    },
    async showMsg(_title, mensaje, varian) {
      try {
        let value = await this.$bvModal.msgBoxOk(mensaje, {
          title: _title,
          size: "sm",
          buttonSize: "sm",
          okVariant: varian,
          headerClass: "p-2 border-bottom-0",
          footerClass: "p-2 border-top-0",
          centered: true
        });
      } catch (error) {
        console.log(error);
      }
    },
  }
}
</script>