<template>
    <div class="container">
        <p class="h1 text-center text-primary">Consulta Compras</p>
    </div>
</template>

<script>
export default {
    name:'ConsultaCompras',
    prop:{

    },
    data(){
        return{
            
        }
    }
}
</script>