<template>
    <div class="container">
        <p class="h1 text-center text-primary">Consulta Ventas</p>
    </div>
</template>

<script>
export default {
    name:'ConsultaVentas',
    prop:{

    },
    data(){
        return{
            
        }
    }
}
</script>

<style lang="scss" scoped>

</style>