#sidebar-wrapper {
    height: calc(100vh - 50px);
    margin-left: -16rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
    margin-left: 0;
    border: 0px !important;
  }

  #sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
  }

  #sidebar-wrapper .list-group {
    width: 15rem;
  }

  #page-content-wrapper {
    width: 100%;
    height: calc(100vh - 55px);
    overflow-y: auto;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
  
  .contenedor-aside {
    box-shadow: 0px 9px 20px 13px rgba(0,0,0,0.75);
  }

  @media all and (max-width: 750px)  {
    #wrapper #sidebar-wrapper{
      padding-top: 10px;
      position: fixed;
      overflow-y: auto;
      width: 100%;
      z-index: 200;
    }

    #wrapper.toggled #sidebar-wrapper{
      position: fixed;
      overflow-y: auto;
      z-index: 200;
      margin-left: -50rem;
    }

    .contenedor-aside {
      z-index: 450 !important;
      
    }
    .contenedor-aside .list-group {
      width: 100% !important;
    }
  }