<template>
  <div>
    <b-navbar id="navth"  toggleable="lg"  type="dark" class="navbar navbar-expand-lg navbar-dark bg-dark">    
      <button v-if="esAdministrador || esAlmacenero || esVendedor"
        class="btn mx-2 ml-4" v-on:click="acciontoggle" id="menu-toggle">
        <font-awesome-icon class="flex-shrink-1 bd-highlight" :icon="this.icon"
          size="2x" :style="{color:'white'}" />
      </button>
      <b-navbar-brand href="#" style="width:170px;">
        <img alt="Vue logo" src="../../../assets/svg/logoSvg.svg" class="ml-4">
      </b-navbar-brand>
      <b-navbar-toggle target="nav-collapse-principal" class="navbar-toggler d-lg-none">
          <span class="navbar-toggler-icon"></span>
      </b-navbar-toggle>
      <b-collapse id="nav-collapse-principal" is-nav>
        <b-navbar-nav class="ml-auto" >
            <b-nav-item class="px-3" :to="{name:'home'}" exact>Inicio</b-nav-item>
            <b-nav-item class="px-3" href="#">Productos</b-nav-item>
            <b-nav-item class="px-3" href="#">Servicios</b-nav-item>
            <b-nav-item class="px-3" href="#">Combos!</b-nav-item>
            <b-nav-item class="px-3" href="#">Noticias</b-nav-item>

            <b-nav-item-dropdown  text="Información" class="px-3" left>
              <b-dropdown-item class="dropdown-item" href="#">Contacto</b-dropdown-item>
              <b-dropdown-item class="dropdown-item" href="#">Preguntas Frecuentes</b-dropdown-item>
              <b-dropdown-item class="dropdown-item" href="#">Nosotros</b-dropdown-item>
            </b-nav-item-dropdown>

            <b-nav-item-dropdown  text="Trabajos" class="px-3" left>
              <b-dropdown-item class="dropdown-item" href="#">Trabajos Fotograficos</b-dropdown-item>
              <b-dropdown-item class="dropdown-item" href="#">Trabajos Audio-Visuales</b-dropdown-item>
            </b-nav-item-dropdown>

        </b-navbar-nav>
        <!-- Right aligned nav items -->
        <b-navbar-nav class="ml-auto mr-4" >          
          <b-nav-item-dropdown right  >
            <!-- Using 'button-content' slot -->
            <template v-slot:button-content>
                <button class="btn" style="padding-left: 20px" ><font-awesome-icon icon="users" size="2x" :style="{color:'white'}" /></button>
            </template>
            <b-dropdown-item v-if="logueado" :to="{name:'profile'}" >Profile</b-dropdown-item>
            <b-dropdown-item v-if="!logueado" :to="{name:'login'}" >Sign in</b-dropdown-item>
            <b-dropdown-item v-if="logueado" @click="logOut($event)">Log out</b-dropdown-item>
          </b-nav-item-dropdown>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
    <!--ESPACIO FLOTANTE PARA NAVBAR FIJO-->
    <div  style="width:100%;height:50px;"></div>
  </div>
</template>

<script>
import store from '@/store';
export default {
  name: "NavBar",
  props: {
    estadotoggled:{
      type: Boolean,
      default: false,
    }
  },
  data() {
    return {
      icon:'arrow-alt-circle-left',
    }
  },
  methods: {
    logOut(){
      store.dispatch("salir");
    },
    acciontoggle() {
      this.$emit("chaingStateToggled",!this.estadotoggled );
      if (this.estadotoggled) {
        this.icon = "arrow-alt-circle-left";
      } else {
        this.icon = "arrow-alt-circle-right";
      }
    }
  },
  computed: {
    logueado(){
      return store.state.usuario;
    },
    esAdministrador(){
      return store.state.usuario && store.state.usuario.rol === 'Administrador';
    },
    esAlmacenero(){
      return store.state.usuario && store.state.usuario.rol === 'Almacenero';
    },
    esVendedor(){
      return store.state.usuario && store.state.usuario.rol === 'Vendedor';
    },
  },
  components: {

  }

}
</script>
<style>

</style>
<style lang="scss" scoped>
  @import "@/SCSS/navbar/main";

  #navth{
    box-shadow: 0px 9px 20px 13px rgba(0,0,0,0.75);
  }
  

</style>