<template>
  <div>
    <div
        v-if="esAdministrador || esAlmacenero || esVendedor"
        class="bg-dark border-right contenedor-aside " 
        id="sidebar-wrapper" 
        style="position:fixed;overflow-y: auto;">
        <b-button 
          class="py-1 pt-4 m-0 d-flex justify-content-center align-items-center" 
          style="background:#79c0de;padding-top:30px !important;"
          :block="true" 
          :to="{name:'home'}" 
          exact>
          <font-awesome-icon icon="home" size="2x" :style="{color:'white'}" />
          <p class="h5 p-0 px-1 m-0">Home</p>
        </b-button>
        <div class="list-group list-group-flush">
          <!--ButtonCollapse-->
          <ButtonCollapse v-if="esAlmacenero || esVendedor || esAdministrador" titleButton="Almacén" :itemsAlmacen="this.itemsAlmacen" ></ButtonCollapse>
          <ButtonCollapse v-if="esAlmacenero || esVendedor || esAdministrador" titleButton="Compras" :itemsAlmacen="this.itemsCompras" ></ButtonCollapse>
          <ButtonCollapse v-if="esAlmacenero || esVendedor || esAdministrador" titleButton="Ventas" :itemsAlmacen="this.itemsVentas" ></ButtonCollapse>
          <ButtonCollapse v-if="esAdministrador" titleButton="Accesos" :itemsAlmacen="this.itemsAccesos" ></ButtonCollapse>
          <ButtonCollapse v-if="esAlmacenero || esVendedor || esAdministrador" titleButton="Consultas" :itemsAlmacen="this.itemsConsultas" ></ButtonCollapse>
          <!--ButtonCollapse-->
        </div>
      </div>
      <!--SIDEBAR FLOTANTE-->

      <!-- SIDEBAR  postion Relative-->
      <div 
        v-if="esAdministrador || esAlmacenero || esVendedor"
        class="bg-dark border-right " 
        id="sidebar-wrapper">
        <b-button class="bg-primary py-1 pt-2 m-0 d-flex justify-content-center align-items-center" :block="true" :to="{name:'home'}" exact>
          <font-awesome-icon icon="home" size="2x" :style="{color:'white'}" />
          <p class="h5 p-0 px-1 m-0">Home</p>
        </b-button>
        <div class="list-group list-group-flush">
        </div>
      </div>
  </div>
</template>

<script>
import ButtonCollapse from '@/components/sistemaAdmin/asidebar/ButtonCollapse.vue';
import store from '@/store';
export default {
  name: "AsideBar",
  data() {
    return {
      itemsAlmacen:[
        {ruta:'categorias',nombreItem:'Categoria'},
        {ruta:'articulos',nombreItem:'Articulos'}
      ],
      itemsCompras:[
        {ruta:'ingresos',nombreItem:'Ingresos'},
        {ruta:'proveedores',nombreItem:'Proveedores'}
      ],
      itemsVentas:[
        {ruta:'ventas',nombreItem:'Ventas'},
        {ruta:'clientes',nombreItem:'Clientes'}
      ],
      itemsAccesos:[
        {ruta:'usuarios',nombreItem:'Usuarios'}
      ],
      itemsConsultas:[
        {ruta:'consulta/compras',nombreItem:'Consultas Compras'},
        {ruta:'consulta/ventas',nombreItem:'Consultas Ventas'}
      ]
    }
  },
  computed: {
    esAdministrador(){
      return store.state.usuario && store.state.usuario.rol === 'Administrador';
    },
    esAlmacenero(){
      return store.state.usuario && store.state.usuario.rol === 'Almacenero';
    },
    esVendedor(){
      return store.state.usuario && store.state.usuario.rol === 'Vendedor';
    },
  },
  components: {
    ButtonCollapse
  }

}
</script>

<style lang="scss" scoped>

  @import "@/SCSS/sidebar/main";
  
</style>