<template>
    <div>
        <b-button class="py-2 bg-light d-flex align-items-center"
            style="color: #ff97da;border: 2px solid #79c0de"
            :block="true"  
            :class="showCollapse ? 'collapsed' : null"
            :aria-expanded="showCollapse ? 'true' : 'false'"
            aria-controls="collapse-4"
            @click="cambiaricon"
            >
            <p class="h5 w-100 bd-highlight">{{titleButton}}</p>
            <font-awesome-icon class="flex-shrink-1 bd-highlight" 
            :icon="this.icon"
             size="2x" :style="{color:'#ff97da'}" />
        </b-button>
        <b-collapse id="collapse-4" v-model="showCollapse">
            <b-list-group  class=" list-group-flush">
                <div v-for="(item,index) of this.itemsAlmacen" :key="index">
                    <b-list-group-item 
                      class="text-white" 
                      style="background:#79c0de"
                      v-if="autorizado(item.ruta)" 
                      :to="{name:item.ruta}" >
                        <font-awesome-icon 
                            icon="clipboard-list" 
                            size="1x" 
                            :style="{color:'white'}" 
                        />
                          {{item.nombreItem}}
                    </b-list-group-item>
                </div>
            </b-list-group>
        </b-collapse>
    </div>
</template>

<script>
import store from '@/store';
export default {
    name:'ButtonCollapse',
    props:{
        itemsAlmacen:Array,
        titleButton:String
    },
    data(){
        return{
            showCollapse: false,
            icon:'arrow-alt-circle-down'
        }
    },
    methods:{
        cambiaricon(){
            this.showCollapse = !this.showCollapse
            if (this.showCollapse) {
                this.icon = 'arrow-alt-circle-up';
            }else{
                this.icon = 'arrow-alt-circle-down'
            }
        },
        autorizado(name){
            if(this.esVendedor){
                if(name === 'usuarios' || name === 'ingresos'){
                    return false;
                }else{
                    return true;
                }
            }
            if(this.esAlmacenero){
                return true;
            }
            if(this.esAdministrador){
                return true;
            }
            return true
        }
    },
    computed: {
        esAdministrador(){
            return store.state.usuario && store.state.usuario.rol === 'Administrador';
        },
        esAlmacenero(){
            return store.state.usuario && store.state.usuario.rol === 'Almacenero';
        },
        esVendedor(){
            return store.state.usuario && store.state.usuario.rol === 'Vendedor';
        }
    },

}
</script>