<template>
  <b-container fluid class="mt-3">
    <b-row>
      <b-col cols="10" class="mx-auto">
        <!--MODAL-->
        <b-modal :centered="true" id="modal-save-update">
          <template v-slot:modal-header="{}">
            <p class="h4">{{tituloModal}}</p>
            <b-button size="sm" variant="outline-dark" ref="btnclose" @click="closeModal">X</b-button>
          </template>
          <template v-slot:default="{}">
            <!--Usuario-->
            <div role="group">
              <label for="input-usuario">Vendido Por:</label>
              <b-form-select
                id="input-usuario"
                v-model="venta.usuario">
                  <template v-slot:first>
                    <option value>-- Sin selecciónar Usuario --</option>
                  </template>
                  <option 
                    v-for="(value, key) in optionsUsuario" 
                    :key="key"
                    :value="value._id">
                    {{value.nombre}}
                  </option>
              </b-form-select>
            </div>
            <!--Proveedor-->
            <div role="group">
              <label for="input-persona">Vendido a:</label>
              <b-form-select
                id="input-persona"
                v-model="venta.persona">
                  <template v-slot:first>
                    <option value>-- Sin selecciónar Proveedor --</option>
                  </template>
                  <option 
                    v-for="(value, key) in optionsCliente" 
                    :key="key"
                    :value="value._id">
                    {{value.nombre}}
                  </option>
              </b-form-select>
            </div>
            <!--Tipo Comprobante-->
            <div role="group">
              <label for="input-tipo-comprobante">Tipo Comprobante:</label>
              <b-form-select
                id="input-tipo-comprobante"
                v-model="venta.tipo_comprobante">
                  <template v-slot:first>
                    <option value>-- Sin selecciónar Tipo de Comprobante --</option>
                  </template>
                  <option 
                    v-for="(value, key) in optionsComprobante" 
                    :key="key"
                    :value="value">
                    {{value}}
                  </option>
              </b-form-select>
            </div>
            <!--N° serie-->
            <div role="group">
              <label for="input-serie-comprobante">N° serie:</label>
              <b-form-input
                id="input-serie-comprobante"
                v-model="venta.serie_comprobante"
                placeholder="Ingresa N° serie de comprobante"
              ></b-form-input>
            </div>
            <!--N° de comprobante-->
            <div role="group">
              <label for="input-num-comprobante">N° de comprobante:</label>
              <b-form-input
                id="input-num-comprobante"
                v-model="venta.num_comprobante"
                placeholder="Ingresa N° de comprobante"
              ></b-form-input>
            </div>
            <!--Impuesto-->
            <div role="group">
              <label for="input-Impuesto">Impuesto:</label>
              <b-form-select
                id="input-Impuesto"
                v-model="venta.impuesto"
                @change="$event = calcularTotal">
                  <template v-slot:first>
                    <option value>-- Sin selecciónar Impuesto --</option>
                  </template>
                  <option 
                    v-for="(value, key) in optionsImpuesto" 
                    :key="key"
                    :value="value">
                    {{value}}
                  </option>
              </b-form-select>
            </div>
            <!--Total-->
            <div role="group">
              <label for="input-num-total">Total:</label>
              <b-form-input
                id="input-num-total"
                v-model="venta.total"
                :disabled="true"
              ></b-form-input>
            </div>
            <!--Detalles-->
            <div role="group">
              <label class="mt-3">Detalles:</label>
              <button type="button" class="btn btn-success text-white mt-2 ml-2" value="+" @click="addNewDetalle">+</button>
              <div 
              role="group" 
              v-for="(value, index) in venta.detalles" 
              :key="index"
              class="m-4">
                <!--Detalle Articulo ID-->
                <label for="input-detalle-articulo">Articulo:</label>
                <b-form-select
                  id="input-detalle-articulo"
                  v-model="venta.detalles[index]._id"
                  @change="asignarNombreArticuloDetalle($event,index)">
                    <template v-slot:first>
                      <option value>-- Sin selecciónar Articulo --</option>
                    </template>
                    <option 
                      v-for="(articuloObj, key) in optionsArticulo" 
                      :key="key"
                      :value="articuloObj._id">
                        {{ articuloObj.nombre }}
                    </option>
                </b-form-select>
                <!--Detalle Articulo Nombre
                <div role="group">
                  <label for="input-num-total">Nombre Articulo:</label>
                  <b-form-input
                    id="input-num-total"
                    v-model="venta.detalles[index].articulo"
                    :disabled="true"
                  ></b-form-input>
                </div>-->
                <!--Detalle Articulo Cantidad-->
                <div role="group">
                  <label for="input-num-cantidad">Cantidad:</label>
                  <b-form-input
                    id="input-num-cantidad"
                    v-model="venta.detalles[index].cantidad"
                    @change="$event = calcularTotal"
                  ></b-form-input>
                </div>
                <!--Detalle Articulo Precio-->
                <div role="group">
                  <label for="input-num-precio">Precio:</label>
                  <b-form-input
                    id="input-num-precio"
                    v-model="venta.detalles[index].precio"
                    @change="$event = calcularTotal"
                    :disabled="true"
                  ></b-form-input>
                </div>
              </div>
              
            </div>
          </template>
          <template v-slot:modal-footer="{}">
            <b-button size="sm" variant="success" @click="save">
              <font-awesome-icon class="mx-2" icon="save" size="1x" :style="{color:'black'}" />
              <strong class="text-dark">Guardar</strong>
            </b-button>
            <b-button size="sm" variant="danger" ref="btnclose" @click="closeModal">
              <font-awesome-icon class="mx-2" icon="backspace" size="1x" :style="{color:'white'}" />
              <strong class="text-white">Cancelar</strong>
            </b-button>
          </template>
        </b-modal>
        <!-- Main table element -->
        <TableComponent
          stacked="stacked"
          titleTableComponent="Venta"
          :items="items"
          :fields="fields"
          :currentPage="currentPage"
          :perPage="perPage"
          :filter="filter"
          :filterIncludedFields="filterOn"
          :sortBy="sortBy"
          :sortDesc="sortDesc"
          :sortDirection="sortDirection"
          :pageOptions="pageOptions"
          :totalRows="totalRows"
          :parametroFiltrar="parametroFiltrar"
          :filterCheckBox="filterCheckBox"
          :activatedDelete="esAdministrador"
          :activatedModState="esVendedor || esAlmacenero || esAdministrador"
          :activatedEdit="false"
          :activatedAdd="esVendedor || esAlmacenero || esAdministrador"
          @mostrarModalSave="mostrarModalSave($event)"
          @modEstado="modEstado($event)"
        />
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import TableComponent from "@/components/sistemaAdmin/table/TableComponent.vue";
import store from '@/store';
import { venta } from '@/api/venta.js';
import { articulo } from '@/api/articulo.js';
import { persona } from '@/api/personas.js';
import { usuario } from '@/api/usuario.js';

export default {
  name: "ventas",
  data() {
    return {
      parametroFiltrar: [
        "_id",
        "__v",
        "_cellVariants",
        "_showDetails",
        "estado",
        "usuario",
        "persona"
      ],
      alertConfirm: "",
      tituloModal: "",
      ventaModelCreate: {
        usuario: "",
        persona: "",
        tipo_comprobante: "",
        serie_comprobante: "",
        num_comprobante: 0,
        impuesto: 0,
        total: 0,
        detalles:[],
      },
      venta: {
        _id: "",
        usuario: "",
        persona: "",
        tipo_comprobante: "",
        serie_comprobante: "",
        num_comprobante: 0,
        impuesto: 0,
        total: 0,
        detalles: [],
        estado: "",
        createAt: ""
      },
      items: [],
      fields: [
        {
          key: "usuario",
          label: "Cargado Por",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "persona",
          label: "Pedido A",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "tipo_comprobante",
          label: "Comprobante",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "serie_comprobante",
          label: "N° Serie",
          sortable: false,
        },
        {
          key: "num_comprobante",
          label: "N° Comprobante",
          sortable: false,
        },
        {
          key: "total",
          label: "Total",
          sortable: false,
          formatter: (value, key, item) => {
            return `$${value}`
          }
        },
        {
          key: "impuesto",
          label: "IVA",
          sortable: false,
        },
        {
          key: "estado",
          label: "Estado",
          formatter: (value, key, item) => {
            if (value == 1) {
              item._cellVariants = { estado: "success" };
              return "Habilitado";
            } else {
              item._cellVariants = { estado: "danger" };
              return "Inactivo";
            }
          },
          sortable: true,
          sortByFormatted: true,
          filterByFormatted: true,
          class: "text-center"
        },
        { key: "actions", label: "Acciones", class: "text-center" }
      ],
      totalRows: 1,
      currentPage: 1,
      perPage: 5,
      pageOptions: [5, 10, 15],
      sortBy: "",
      sortDesc: false,
      sortDirection: "asc",
      filter: "",
      filterOn: [],
      filterCheckBox: [
        {filter: "codigo",value: "Codigo"},
        {filter: "nombre",value: "Nombre"},
        {filter: "estado",value: "Estado"},
        {filter: "categoria",value: "Categoria"},
      ],
      optionsUsuario: [],
      optionsCliente: [],
      optionsArticulo: [],
      optionsComprobante: ["FACTURA A", "FACTURA B","FACTURA C","FACTURA D",],
      optionsImpuesto: ["0.21","0.18","0.15","0.11","0.05"]
    };
  },
  computed: {
    esAdministrador(){
      return store.state.usuario && store.state.usuario.rol === 'Administrador';
    },
    esAlmacenero(){
      return store.state.usuario && store.state.usuario.rol === 'Almacenero';
    },
    esVendedor(){
      return store.state.usuario && store.state.usuario.rol === 'Vendedor';
    },
    calcularTotal(){
      let acumulador = 0;
      this.venta.detalles.forEach( (detalle) => {
        let totalCurrentDetail = parseInt(detalle.precio) * parseInt(detalle.cantidad) ;
        let impuesto = totalCurrentDetail * this.venta.impuesto ;
        totalCurrentDetail = totalCurrentDetail + impuesto ;
        acumulador = acumulador + totalCurrentDetail;
      });
        this.venta.total = acumulador;
    },
  },
  methods: {
    addNewDetalle(){
      this.venta.detalles.push({
        _id: "",
        articulo: "",
        cantidad: "",
        precio: ""
      });
    },
    async asignarNombreArticuloDetalle(event,index){
      if(index >= 0 && this.venta.detalles[index]){
        let data = await articulo.query( { params: {_id: this.venta.detalles[index]._id} } );
        this.venta.detalles[index].articulo = data.nombre;
        this.venta.detalles[index].precio = data.precio_venta;
      }
    },
    async showMsg(_title, mensaje, varian) {
      try {
        let value = await this.$bvModal.msgBoxOk(mensaje, {
          title: _title,
          size: "sm",
          buttonSize: "sm",
          okVariant: varian,
          headerClass: "p-2 border-bottom-0",
          footerClass: "p-2 border-top-0",
          centered: true
        });
      } catch (error) {
        console.log(error);
      }
    },
    closeModal() {
      this.$root.$emit("bv::toggle::modal", "modal-save-update", "#btnclose");
    },
    mostrarModalSave() {
      this.$root.$emit("bv::show::modal", "modal-save-update", "#btnsave");
      this.tituloModal = "Crear nuevo venta";
      this.limpiarventaSave();
      this.venta = this.ventaModelCreate;
    },
    limpiarventaSave() {
      this.ventaModelCreate.nombre = "";
      this.ventaModelCreate.codigo = "";
      this.ventaModelCreate.categoria = "";
      this.ventaModelCreate.descripcion = "";
      this.ventaModelCreate.precio_venta = 0;
      this.ventaModelCreate.stock = 0;
    },
    async modEstado(item) {
      try {
        let __id = { _id: item._id };
        if (item.estado == 1) {
          let responseHttp = await venta.desactivate(__id);
          this.listar();
          this.showMsg(
            "Actualizacion Estado",
            responseHttp.message,
            "success"
          );
        } else if (item.estado == 0) {
          let responseHttp = await venta.activate(__id);
          this.listar();
          this.showMsg(
            "Actualizacion Estado",
            responseHttp.message,
            "success"
          );
        }
      } catch (error) {
        console.log(error);
        this.showMsg(
          "Erro al actuliazar estado",
          responseHttp.message,
          "danger"
        );
      }
    },
    async listar() {
      try{
        this.items = await venta.list();
        this.items = this.items.map( (item) => {
          return {
            ...item,
            usuario: item.usuario.nombre,
            persona: item.persona.nombre,
            detalles: item.detalles.map( (detalle) => {
              return {
                html: `<h1>${detalle.articulo}</h1>
                      <h2>cantidad: ${detalle.cantidad}</h2>
                      <h2>precio C/u: ${detalle.precio}</h2>`
              }
            })
          }
        });

        this.items.map( (item) => {
          return {
            ...item,
            detalles: () => {
              let detalleCurrent = ''
              item.detalles.forEach( (detalle) => { 
                detalleCurrent = detalleCurrent + "" + detalle.html
              })
              return detalleCurrent;
            }
          }
        })
        this.totalRows = this.items.length;
      } catch (error){
        console.log(error);
      }
    },
    async save() {
      if (typeof this.venta._id === "undefined") {
        try {
          let responseHttp = await venta.add(this.venta);
          this.closeModal();
          this.listar();
          this.venta = this.ventaModelCreate;
          this.showMsg("Crear Registro", responseHttp.message, "success");
          this.limpiarventaSave();
        } catch (error) {
          this.venta = this.ventaModelCreate;
          this.showMsg(
            "Crear Registro",
            "Ocurrio un error al crear el registro",
            "danger"
          );
        }
      }
    },
  },
  async created() {
    this.totalRows = this.items.length;
    this.optionsUsuario = await usuario.list();
    this.optionsCliente = await persona.listCliente();
    this.optionsArticulo = await articulo.list();
    this.listar();
  },
  components: {
    TableComponent
  }
};
</script>

<style lang="scss" scoped>

</style>