<template>
  <div class="container text-center">
    <img alt="Vue logo" src="../assets/svg/logoSvg.svg" class="mt-4">
  </div>
</template>

<script>
import store from '@/store'
export default {
  name: 'home',
  data() {
    return {
    }
  },
  computed: {
    sendMessage(){
      if(store.state.usuario){
        return `Bienvenido ${store.state.usuario.rol} - ${store.state.usuario.email}`
      }else{
        return 'Bienvenido!!. Debes loguearte para acceder al sistema de ventas'
      }      
    }
  },
  components: {
  }
}
</script>
