<template>
  <div class="container">
    <b-row>
      <div id="contenedoservicio" class="col-12 mt-5 sombraperso">
        <div class="row p-4"> 
          <div class="col-12 text-center ">
            <p class="d-block d-sm-none Lobster-Regular  mt-3 h1 text-light wow bounceInLeft"><strong>Mi Perfil: {{perfil.nombre}}</strong></p>
            <p class="d-none d-sm-block Lobster-Regular  mt-3 display-3 text-light wow bounceInLeft"><strong>Mi Perfil: {{perfil.nombre}}</strong></p>
          </div>
        </div>
        <div class="row align-items-center p-4">
          <div class="col-2 col-md-2"></div>
          <div class="col-8 col-md-3">
            <img src="../assets/svg/avatarProfile.svg" height="100%" alt="" class="rounded-circle img-thumbnail mb-4">
          </div>
          <div class="col-sm-6 col-12">
            <div class="text-phone row text-white h3">
              <div class="col-4 col-sm-3"><p>Rol:</p></div>
              <div class="col-8 col-sm-9"><p>{{this.perfil.rol}}</p></div>
              <div class="col-4 col-sm-3"><p>Nombre:</p></div>
              <div class="col-8 col-sm-9"><p>{{this.perfil.nombre}}</p></div>
              <div class="col-4 col-sm-3"><p>Cel.:</p></div>
              <div class="col-8 col-sm-9"><p>{{this.perfil.telefono}}</p></div>
              <div class="col-4 col-sm-3"><p>Email:</p></div>
              <div class="col-8 col-sm-9"><p>{{this.perfil.email}}</p></div>
              <div class="col-4 col-sm-3"><p>Direccion:</p></div>
              <div class="col-8 col-sm-9"><p>{{this.perfil.direccion}}</p></div>
            </div>
          </div>
        </div>
      </div>
    </b-row>
  </div>
</template>

<script>
import store from "@/store"
import {usuario} from "@/api/usuario.js"
export default {
  name: "profile",
  data() {
    return {
      perfil:{}
    }
  },
  async created() {
    console.log(store.state.usuario.email);
    this.perfil = await usuario.getPerfil({ params: {email: store.state.usuario.email }} );
    console.log(this.perfil)
  }

}
</script>

<style scoped>
.sombraperso {
    box-shadow: 0px 9px 20px 13px rgba(0,0,0,0.75);
    background-color: #343a40;
}
@media all and (max-width: 750px)  {
  .text-phone{
    font-size: 17px;
  }
}
</style>