<template>
  <b-container fluid class="mt-3">
    <b-row>
      <b-col cols="10" class="mx-auto">
        <!--MODAL-->
        <b-modal :centered="true" id="modal-save-update">
          <template v-slot:modal-header="{}">
            <p class="h4">{{tituloModal}}</p>
            <b-button size="sm" variant="outline-dark" ref="btnclose" @click="closeModal">X</b-button>
          </template>
          <template v-slot:default="{}">
            <!--ROL-->
            <div role="group">
              <label for="input-rol">Rol:</label>
              <b-form-select
                id="input-rol"
                v-model="usuario.rol" 
                :options="optionsRol">
                <template v-slot:first>
                  <option value>-- Sin selección de Rol --</option>
                </template>
              </b-form-select>
            </div>
            <!--Nombre-->
            <div role="group">
              <label for="input-nombre">Nombre:</label>
              <b-form-input
                id="input-nombre"
                v-model="usuario.nombre"
                placeholder="Ingresa el nombre del usuario"
              ></b-form-input>
            </div>
            <!--Tipo Documento-->
            <div role="group">
              <label for="input-tipo_documento">Tipo Documento:</label>
              <b-form-select
                id="input-rol"
                v-model="usuario.tipo_documento"
                :options="optionsTipoDocumento">
                <template v-slot:first>
                  <option value>-- Sin selección Tipo Documento --</option>
                </template>
              </b-form-select>
            </div>
            <!--N° Documento-->
            <div role="group">
              <label for="input-num_documento">N° Documento:</label>
              <b-form-input
                id="input-num_documento"
                v-model="usuario.num_documento"
                placeholder="Ingresa N° Documento"
                trim
              ></b-form-input>
            </div>
            <!--Direccion-->
            <div role="group">
              <label for="input-direccion">Direccion:</label>
              <b-form-input
                id="input-direccion"
                v-model="usuario.direccion"
                placeholder="Ingresa la Direccion"
              ></b-form-input>
            </div>
            <!--Tel-->
            <div role="group">
              <label for="input-telefono">Tel.:</label>
              <b-form-input
                id="input-telefono"
                v-model="usuario.telefono"
                placeholder="Telefono"
                trim
              ></b-form-input>
              <b-form-text
                id="input-telefono-help"
              >Ingresa Tel. sin el 0 y el 15</b-form-text>
            </div>
            <!--email-->
            <div role="group">
              <label for="input-email">email:</label>
              <b-form-input
                type="email"
                id="input-email"
                v-model="usuario.email"
                placeholder="Ingresa email@email.com"
                trim
              ></b-form-input>
            </div>
            <!--Password-->
            <div role="group">
              <label for="input-password">Password:</label>
              <b-form-input
                type="password"
                id="input-password"
                v-model="usuario.password"
                trim
              ></b-form-input>
            </div>
          </template>
          <template v-slot:modal-footer="{}">
            <b-button size="sm" variant="success" @click="save">
              <font-awesome-icon class="mx-2" icon="save" size="1x" :style="{color:'black'}" />
              <strong class="text-dark">Guardar</strong>
            </b-button>
            <b-button size="sm" variant="danger" ref="btnclose" @click="closeModal">
              <font-awesome-icon class="mx-2" icon="backspace" size="1x" :style="{color:'white'}" />
              <strong class="text-white">Cancelar</strong>
            </b-button>
          </template>
        </b-modal>
        <!-- Main table element -->
        <TableComponent
          stacked="stacked"
          titleTableComponent="Usuario"
          :items="items"
          :fields="fields"
          :currentPage="currentPage"
          :perPage="perPage"
          :filter="filter"
          :filterIncludedFields="filterOn"
          :sortBy="sortBy"
          :sortDesc="sortDesc"
          :sortDirection="sortDirection"
          :pageOptions="pageOptions"
          :totalRows="totalRows"
          :parametroFiltrar="parametroFiltrar"
          :filterCheckBox="filterCheckBox"
          :activatedDelete="esAdministrador"
          :activatedModState="esAdministrador"
          :activatedEdit="esAdministrador"
          :activatedAdd="esAdministrador"
          @mostrarModalSave="mostrarModalSave($event)"
          @eliminar="eliminar($event)"
          @mostrarModalUpdate="mostrarModalUpdate($event)"
          @modEstado="modEstado($event)"
        />
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import TableComponent from "@/components/sistemaAdmin/table/TableComponent.vue";
import store from '@/store';
import { usuario } from '@/api/usuario.js';
export default {
  name: "usuarios",
  data() {
    return {
      parametroFiltrar: [
        "_id",
        "password",
        "__v",
        "_cellVariants",
        "_showDetails"
      ],
      alertConfirm: "",
      tituloModal: "",
      usuarioModelCreate: {
        rol: "",
        nombre: "",
        tipo_documento: "",
        num_documento: 0,
        direccion: "",
        telefono: "",
        email: "",
        password: ""
      },
      usuarioModelUpdate: {
        _id: "",
        rol: "",
        nombre: "",
        tipo_documento: "",
        num_documento: 0,
        direccion: "",
        telefono: "",
        email: "",
        password: "",
        estado: ""
      },
      usuario: {
        _id: "",
        rol: "",
        nombre: "",
        tipo_documento: "",
        num_documento: 0,
        direccion: "",
        telefono: "",
        email: "",
        password: "",
        estado: "",
        createAt: ""
      },
      items: [],
      fields: [
        {
          key: "rol",
          label: "Rol",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "nombre",
          label: "Nombre",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "tipo_documento",
          label: "Tipo Doc.",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "num_documento",
          label: "N° Documento",
          sortable: false
        },
        {
          key: "direccion",
          label: "Direccion",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "telefono",
          label: "Telefono",
          sortable: false
        },
        {
          key: "createAt",
          label: "Fecha Alta",
          sortable: true
        },
        {
          key: "email",
          label: "Email",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "estado",
          label: "Estado",
          formatter: (value, key, item) => {
            if (value == 1) {
              item._cellVariants = { estado: "success" };
              return "Habilitado";
            } else {
              item._cellVariants = { estado: "danger" };
              return "Inactivo";
            }
          },
          sortable: true,
          sortByFormatted: true,
          filterByFormatted: true,
          class: "text-center"
        },
        { key: "actions", label: "Acciones", class: "text-center" }
      ],
      totalRows: 1,
      currentPage: 1,
      perPage: 5,
      pageOptions: [5, 10, 15],
      sortBy: "",
      sortDesc: false,
      sortDirection: "asc",
      filter: "",
      filterOn: [],
      filterCheckBox: [
        {filter: "nombre",value: "Nombre"},
        {filter: "num_documento",value: "N° Documento"},
        {filter: "estado",value: "Estado"},
        {filter: "telefono",value: "Tel."},
        {filter: "rol",value: "Rol."},
      ],
      optionsRol: ["Administrador","Almacenero","Vendedor"],
      optionsTipoDocumento: ["DU","DNI","LC","LE"]
    };
  },
  computed: {
    esAdministrador(){
      return store.state.usuario && store.state.usuario.rol === 'Administrador';
    },
  },
  methods: {
    async showMsg(_title, mensaje, varian) {
      try {
        let value = await this.$bvModal.msgBoxOk(mensaje, {
          title: _title,
          size: "sm",
          buttonSize: "sm",
          okVariant: varian,
          headerClass: "p-2 border-bottom-0",
          footerClass: "p-2 border-top-0",
          centered: true
        });
      } catch (error) {
        console.log(error);
      }
    },
    closeModal() {
      this.$root.$emit("bv::toggle::modal", "modal-save-update", "#btnclose");
    },
    mostrarModalSave() {
      this.$root.$emit("bv::show::modal", "modal-save-update", "#btnsave");
      this.tituloModal = "Crear nuevo usuario";
      this.limpiarusuarioSave();
      this.usuario = this.usuarioModelCreate;
    },
    mostrarModalUpdate(item) {
      this.$root.$emit("bv::show::modal", "modal-save-update", "#btnsave");
      this.tituloModal = "Editar usuario";
      this.usuario = item;
    },
    limpiarusuarioSave() {
      this.usuarioModelCreate.rol = ""
      this.usuarioModelCreate.nombre = ""
      this.usuarioModelCreate.tipo_documento = ""
      this.usuarioModelCreate.num_documento = 0
      this.usuarioModelCreate.direccion = ""
      this.usuarioModelCreate.telefono = ""
      this.usuarioModelCreate.email = ""
      this.usuarioModelCreate.password = ""
    },
    async modEstado(item) {
      try {
        let __id = { _id: item._id };
        if (item.estado == 1) {
          let responseHttp = await usuario.desactivate(__id);
          this.listar();
          this.showMsg(
            "Actualizacion Estado",
            responseHttp.message,
            "success"
          );
        } else if (item.estado == 0) {
          let responseHttp = await usuario.activate(__id);
          this.listar();
          this.showMsg(
            "Actualizacion Estado",
            responseHttp.message,
            "success"
          );
        }
      } catch (error) {
        console.log(error);
        this.showMsg(
          "Erro al actuliazar estado",
          responseHttp.message,
          "danger"
        );
      }
    },
    async eliminar(item) {
      try {
        if (confirm("Confirma eliminar permanentemente el registro")) {
          let responseHttp = await usuario.delete({ params: { _id: item._id }});
          this.listar();
          this.showMsg(
            "Eliminar Registro",
            responseHttp.message,
            "success"
          );
        } else {
          console.log("Se cancela eliminar");
        }
      } catch (error) {
        console.log(error);
        this.showMsg("Error", "Erro al eliminar el registro", "danger");
      }
    },
    async listar() {
      try{
        this.items = await usuario.list();
        this.totalRows = this.items.length;
      } catch (error){
        console.log(error);
      }
    },
    async save() {
      if (typeof this.usuario._id === "undefined") {
        try {
          let responseHttp = await usuario.add(this.usuario);
          this.closeModal();
          this.listar();
          this.usuario = this.usuarioModelCreate;
          this.showMsg("Crear Registro", responseHttp.message, "success");
          this.limpiarusuarioSave();
        } catch (error) {
          this.usuario = this.usuarioModelCreate;
          this.showMsg(
            "Crear Registro",
            "Ocurrio un error al crear el registro",
            "danger"
          );
        }
      } else {
        if (typeof this.usuario._id != "undefined") {
          try {
            let responseHttp = await usuario.put(this.usuario);
            this.closeModal();
            this.listar();
            this.usuario = this.usuarioModelUpdate;
            this.showMsg(
              "Editar Registro",
              responseHttp.message,
              "success"
            );
          } catch (error) {
            console.log(error);
            this.usuario = this.usuarioModelUpdate;
            this.showMsg(
              "Editar Registro",
              "Ocurrio un error al editar el registro",
              "danger"
            );
          }
        }
      }
    },
  },
  created() {
    this.totalRows = this.items.length;
    this.listar();
  },
  components: {
    TableComponent
  }
};
</script>

<style lang="scss" scoped>

</style>