<template>
  <b-container fluid class="mt-3">
    <b-row>
      <b-col cols="10" class="mx-auto">
        <!--MODAL-->
        <b-modal :centered="true" id="modal-save-update">
          <template v-slot:modal-header="{}">
            <p class="h4">{{tituloModal}}</p>
            <b-button size="sm" variant="outline-dark" ref="btnclose" @click="closeModal">X</b-button>
          </template>
          <template v-slot:default="{}">
            <!--Codigo-->
            <div role="group">
              <label for="input-codigo">Codigo:</label>
              <b-form-input
                id="input-codigo"
                v-model="articulo.codigo"
                placeholder="Ingresa el codigo del articulo"
                trim
              ></b-form-input>
            </div>
            <!--Nombre-->
            <div role="group">
              <label for="input-nombre">Nombre:</label>
              <b-form-input
                id="input-nombre"
                v-model="articulo.nombre"
                placeholder="Ingresa el nombre del articulo"
                trim
              ></b-form-input>
            </div>
            <!--Categoria-->
            <div role="group">
              <label for="input-categoria">Categoria:</label>
              <b-form-select
                id="input-categoria"
                v-model="articulo.categoria">
                  <template v-slot:first>
                    <option value>-- Sin selecciónar Categoria --</option>
                  </template>
                  <option 
                    v-for="(value, key) in optionsCategoria" 
                    :key="key"
                    :value="value._id">
                    {{value.nombre}}
                  </option>
              </b-form-select>
            </div>
            <!--Descripcion-->
            <div role="group">
              <label for="input-descripcion">Descripcion:</label>
              <b-form-input
                id="input-descripcion"
                v-model="articulo.descripcion"
                placeholder="Ingresa descripcion"
              ></b-form-input>
            </div>
            <!--Precio Venta-->
            <div role="group">
              <label for="input-precioVenta">Precio Venta:</label>
              <b-form-input
                id="input-precioVenta"
                v-model="articulo.precio_venta"
                placeholder="Ingresa Precio Venta"
                type="number"
              ></b-form-input>
            </div>
            <!--Stock-->
            <div role="group">
              <label for="input-stock">Stock.:</label>
              <b-form-input
                id="input-stock"
                v-model="articulo.stock"
                trim
              ></b-form-input>
            </div>
          </template>
          <template v-slot:modal-footer="{}">
            <b-button size="sm" variant="success" @click="save">
              <font-awesome-icon class="mx-2" icon="save" size="1x" :style="{color:'black'}" />
              <strong class="text-dark">Guardar</strong>
            </b-button>
            <b-button size="sm" variant="danger" ref="btnclose" @click="closeModal">
              <font-awesome-icon class="mx-2" icon="backspace" size="1x" :style="{color:'white'}" />
              <strong class="text-white">Cancelar</strong>
            </b-button>
          </template>
        </b-modal>
        <!-- Main table element -->
        <TableComponent
          stacked="stacked"
          titleTableComponent="Articulo"
          :items="items"
          :fields="fields"
          :currentPage="currentPage"
          :perPage="perPage"
          :filter="filter"
          :filterIncludedFields="filterOn"
          :sortBy="sortBy"
          :sortDesc="sortDesc"
          :sortDirection="sortDirection"
          :pageOptions="pageOptions"
          :totalRows="totalRows"
          :parametroFiltrar="parametroFiltrar"
          :filterCheckBox="filterCheckBox"
          :activatedDelete="esAdministrador || esAlmacenero"
          :activatedModState="esAdministrador || esAlmacenero"
          :activatedEdit="esAdministrador || esAlmacenero"
          :activatedAdd="esAdministrador || esAlmacenero"
          @mostrarModalSave="mostrarModalSave($event)"
          @eliminar="eliminar($event)"
          @mostrarModalUpdate="mostrarModalUpdate($event)"
          @modEstado="modEstado($event)"
        />
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import TableComponent from "@/components/sistemaAdmin/table/TableComponent.vue";
import store from '@/store';
import { articulo } from '@/api/articulo.js';
import { categoria } from '@/api/categoria.js';
export default {
  name: "articulos",
  data() {
    return {
      parametroFiltrar: [
        "_id",
        "__v",
        "_cellVariants",
        "_showDetails"
      ],
      alertConfirm: "",
      tituloModal: "",
      articuloModelCreate: {
        categoria: "",
        codigo: "",
        nombre: "",
        descripcion: "",
        precio_venta: 0,
        stock: 0,
      },
      articuloModelUpdate: {
        _id: "",
        categoria: "",
        codigo: "",
        nombre: "",
        descripcion: "",
        precio_venta: 0,
        stock: 0,
        estado: "",
      },
      articulo: {
        _id: "",
        categoria: "",
        codigo: "",
        nombre: "",
        descripcion: "",
        precio_venta: 0,
        stock: 0,
        estado: "",
        createAt: ""
      },
      items: [],
      fields: [
        {
          key: "categoria",
          label: "Categoria",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "codigo",
          label: "Codigo",
          sortable: false,
        },
        {
          key: "nombre",
          label: "Nombre",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "precio_venta",
          label: "Precio Venta",
          sortable: true,
          sortDirection: "desc",
          formatter: (value, key, item) => {
            return `$${value}`
          }
        },
        {
          key: "stock",
          label: "stock",
          sortable: true,
          sortDirection: "desc",
          formatter: (value, key, item) => {
            return `${value} Unidades`
          }
        },
        {
          key: "estado",
          label: "Estado",
          formatter: (value, key, item) => {
            if (value == 1) {
              item._cellVariants = { estado: "success" };
              return "Habilitado";
            } else {
              item._cellVariants = { estado: "danger" };
              return "Inactivo";
            }
          },
          sortable: true,
          sortByFormatted: true,
          filterByFormatted: true,
          class: "text-center"
        },
        { key: "actions", label: "Acciones", class: "text-center" }
      ],
      totalRows: 1,
      currentPage: 1,
      perPage: 5,
      pageOptions: [5, 10, 15],
      sortBy: "",
      sortDesc: false,
      sortDirection: "asc",
      filter: "",
      filterOn: [],
      filterCheckBox: [
        {filter: "codigo",value: "Codigo"},
        {filter: "nombre",value: "Nombre"},
        {filter: "estado",value: "Estado"},
        {filter: "categoria",value: "Categoria"},
      ],
      optionsCategoria: [],
    };
  },
  computed: {
    esAdministrador(){
      return store.state.usuario && store.state.usuario.rol === 'Administrador';
    },
    esAlmacenero(){
      return store.state.usuario && store.state.usuario.rol === 'Almacenero';
    },
  },
  methods: {
    async showMsg(_title, mensaje, varian) {
      try {
        let value = await this.$bvModal.msgBoxOk(mensaje, {
          title: _title,
          size: "sm",
          buttonSize: "sm",
          okVariant: varian,
          headerClass: "p-2 border-bottom-0",
          footerClass: "p-2 border-top-0",
          centered: true
        });
      } catch (error) {
        console.log(error);
      }
    },
    closeModal() {
      this.$root.$emit("bv::toggle::modal", "modal-save-update", "#btnclose");
    },
    mostrarModalSave() {
      this.$root.$emit("bv::show::modal", "modal-save-update", "#btnsave");
      this.tituloModal = "Crear nuevo articulo";
      this.limpiararticuloSave();
      this.articulo = this.articuloModelCreate;
    },
    mostrarModalUpdate(item) {
      this.$root.$emit("bv::show::modal", "modal-save-update", "#btnsave");
      this.tituloModal = "Editar articulo";
      this.articulo = item;
    },
    limpiararticuloSave() {
      this.articuloModelCreate.nombre = "";
      this.articuloModelCreate.codigo = "";
      this.articuloModelCreate.categoria = "";
      this.articuloModelCreate.descripcion = "";
      this.articuloModelCreate.precio_venta = 0;
      this.articuloModelCreate.stock = 0;
    },
    async modEstado(item) {
      try {
        let __id = { _id: item._id };
        if (item.estado == 1) {
          let responseHttp = await articulo.desactivate(__id);
          this.listar();
          this.showMsg(
            "Actualizacion Estado",
            responseHttp.message,
            "success"
          );
        } else if (item.estado == 0) {
          let responseHttp = await articulo.activate(__id);
          this.listar();
          this.showMsg(
            "Actualizacion Estado",
            responseHttp.message,
            "success"
          );
        }
      } catch (error) {
        console.log(error);
        this.showMsg(
          "Erro al actuliazar estado",
          responseHttp.message,
          "danger"
        );
      }
    },
    async eliminar(item) {
      try {
        if (confirm("Confirma eliminar permanentemente el registro")) {
          let responseHttp = await articulo.delete({ params: { _id: item._id }});
          this.listar();
          this.showMsg(
            "Eliminar Registro",
            responseHttp.message,
            "success"
          );
        } else {
          console.log("Se cancela eliminar");
        }
      } catch (error) {
        console.log(error);
        this.showMsg("Error", "Erro al eliminar el registro", "danger");
      }
    },
    async listar() {
      try{
        this.items = await articulo.list();
        this.items = this.items.map( (item) => {
            return {
                ...item,
                categoria: item.categoria.nombre
            }
        });
        this.totalRows = this.items.length;
      } catch (error){
        console.log(error);
      }
    },
    async save() {
      if (typeof this.articulo._id === "undefined") {
        try {
          let responseHttp = await articulo.add(this.articulo);
          this.closeModal();
          this.listar();
          this.articulo = this.articuloModelCreate;
          this.showMsg("Crear Registro", responseHttp.message, "success");
          this.limpiararticuloSave();
        } catch (error) {
          this.articulo = this.articuloModelCreate;
          this.showMsg(
            "Crear Registro",
            "Ocurrio un error al crear el registro",
            "danger"
          );
        }
      } else {
        if (typeof this.articulo._id != "undefined") {
          try {
            let responseHttp = await articulo.put(this.articulo);
            this.closeModal();
            this.listar();
            this.articulo = this.articuloModelUpdate;
            this.showMsg(
              "Editar Registro",
              responseHttp.message,
              "success"
            );
          } catch (error) {
            console.log(error);
            this.articulo = this.articuloModelUpdate;
            this.showMsg(
              "Editar Registro",
              "Ocurrio un error al editar el registro",
              "danger"
            );
          }
        }
      }
    },
  },
  async created() {
    this.totalRows = this.items.length;
    this.optionsCategoria = await categoria.list();
    this.listar();
  },
  components: {
    TableComponent
  }
};
</script>

<style lang="scss" scoped>

</style>