<template>
  <b-container fluid class="mt-3">
    <b-row>
      <b-col cols="10" class="mx-auto">
        <!--MODAL-->
        <b-modal :centered="true" id="modal-save-update">
          <template v-slot:modal-header="{}">
            <p class="h4">{{tituloModal}}</p>
            <b-button size="sm" variant="outline-dark" ref="btnclose" @click="closeModal">X</b-button>
          </template>
          <template v-slot:default="{}">
            <div role="group">
              <label for="input-nombre">Nombre:</label>
              <b-form-input
                id="input-nombre"
                v-model="categoria.nombre"
                placeholder="Ingresa el nombre de la categoria"
                trim
              ></b-form-input>
              <b-form-text id="input-nombre-help">Ingresa el nombre de la categoria</b-form-text>
            </div>
            <div role="group">
              <label for="input-descripcion">Descripcion:</label>
              <b-form-input
                id="input-descripcion"
                v-model="categoria.descripcion"
                placeholder="Ingresa la descripcion"
                trim
              ></b-form-input>
              <b-form-text
                id="input-descripcion-help"
              >Ingresa una breve descripcion sobre {{categoria.nombre}}</b-form-text>
            </div>
          </template>
          <template v-slot:modal-footer="{}">
            <b-button size="sm" variant="success" @click="save">
              <font-awesome-icon class="mx-2" icon="save" size="1x" :style="{color:'black'}" />
              <strong class="text-dark">Guardar</strong>
            </b-button>
            <b-button size="sm" variant="danger" ref="btnclose" @click="closeModal">
              <font-awesome-icon class="mx-2" icon="backspace" size="1x" :style="{color:'white'}" />
              <strong class="text-white">Cancelar</strong>
            </b-button>
          </template>
        </b-modal>
        <!-- Main table element -->
        <TableComponent
          stacked="stacked"
          titleTableComponent="Categoria"
          :items="items"
          :fields="fields"
          :currentPage="currentPage"
          :perPage="perPage"
          :filter="filter"
          :filterIncludedFields="filterOn"
          :sortBy="sortBy"
          :sortDesc="sortDesc"
          :sortDirection="sortDirection"
          :pageOptions="pageOptions"
          :totalRows="totalRows"
          :parametroFiltrar="parametroFiltrar"
          :filterCheckBox="filterCheckBox"
          :activatedDelete="esAdministrador || esAlmacenero"
          :activatedModState="esAdministrador || esAlmacenero"
          :activatedEdit="esAdministrador || esAlmacenero"
          :activatedAdd="esAdministrador || esAlmacenero"
          @mostrarModalSave="mostrarModalSave($event)"
          @eliminar="eliminar($event)"
          @mostrarModalUpdate="mostrarModalUpdate($event)"
          @modEstado="modEstado($event)"
        />
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import TableComponent from "@/components/sistemaAdmin/table/TableComponent.vue";
import store from '@/store';
import { categoria } from '@/api/categoria.js';
export default {
  name: "Categorias",
  data() {
    return {
      parametroFiltrar: [
        "_id",
        "__v",
        "_cellVariants",
        "_showDetails"
      ],
      filterCheckBox: [
        {filter: "nombre",value: "Nombre"},
        {filter: "descripcion",value: "Descripcion"},
        {filter: "estado",value: "Estado"},
      ],
      alert: "",
      alertConfirm: "",
      tituloModal: "",
      categoriaMCreate: {
        nombre: "",
        descripcion: ""
      },
      categoriaMUpdate: {
        _id: "",
        nombre: "",
        descripcion: "",
        estado: ""
      },
      categoria: {
        _id: "",
        nombre: "",
        descripcion: "",
        estado: ""
      },
      items: [],
      fields: [
        {
          key: "nombre",
          label: "Nombre",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "descripcion",
          label: "Descripcion",
          sortable: true,
          class: "text-center"
        },
        {
          key: "estado",
          label: "Estado",
          formatter: (value, key, item) => {
            if (value == 1) {
              item._cellVariants = { estado: "success" };
              return "Habilitado";
            } else {
              item._cellVariants = { estado: "danger" };
              return "Inactivo";
            }
          },
          sortable: true,
          sortByFormatted: true,
          filterByFormatted: true,
          class: "text-center"
        },
        { key: "actions", label: "Acciones", class: "text-center" }
      ],
      totalRows: 1,
      currentPage: 1,
      perPage: 5,
      pageOptions: [5, 10, 15],
      sortBy: "",
      sortDesc: false,
      sortDirection: "asc",
      filter: "",
      filterOn: [],
    };
  },
  computed: {
    esAdministrador(){
      return store.state.usuario && store.state.usuario.rol === 'Administrador';
    },
    esAlmacenero(){
      return store.state.usuario && store.state.usuario.rol === 'Almacenero';
    },
  },
  methods: {
    async showMsg(_title, mensaje, varian) {
      try {
        let value = await this.$bvModal.msgBoxOk(mensaje, {
          title: _title,
          size: "sm",
          buttonSize: "sm",
          okVariant: varian,
          headerClass: "p-2 border-bottom-0",
          footerClass: "p-2 border-top-0",
          centered: true
        });
      } catch (error) {
        console.log(error);
      }
    },
    closeModal() {
      this.$root.$emit("bv::toggle::modal", "modal-save-update", "#btnclose");
    },
    mostrarModalSave() {
      this.$root.$emit("bv::show::modal", "modal-save-update", "#btnsave");
      this.tituloModal = "Crear nueva Categoria";
      //this.limpiarCategoriaSave();
      this.categoria = this.categoriaMCreate;
    },
    mostrarModalUpdate(item) {
      this.$root.$emit("bv::show::modal", "modal-save-update", "#btnsave");
      this.tituloModal = "Editar Categoria";
      this.categoria = item;
    },
    limpiarCategoriaSave() {
      this.categoria.descripcion = "";
      this.categoria.nombre = "";
    },
    async modEstado(item) {
      try {
        let __id = { _id: item._id };
        if (item.estado == 1) {
          let responseHttp = await categoria.desactivate(__id);
          this.listar();
          this.showMsg(
            "Actualizacion Estado",
            responseHttp.message,
            "success"
          );
        } else if (item.estado == 0) {
          let responseHttp = await categoria.activate(__id);
          this.listar();
          this.showMsg(
            "Actualizacion Estado",
            responseHttp.message,
            "success"
          );
        }
      } catch (error) {
        console.log(error);
        this.showMsg(
          "Erro al actuliazar estado",
          responseHttp.message,
          "danger"
        );
      }
    },
    async eliminar(item) {
      try {
        if (confirm("Confirma eliminar permanentemente el registro")) {
          let responseHttp = await categoria.delete({ params: { _id: item._id }});
          this.listar();
          this.showMsg(
            "Eliminar Registro",
            responseHttp.message,
            "success"
          );
        } else {
          console.log("Se cancela eliminar");
        }
      } catch (error) {
        console.log(error);
        this.showMsg("Error", "Erro al eliminar el registro", "danger");
      }
    },
    async listar() {
      try{
        this.items = await categoria.list();
        this.totalRows = this.items.length;
      } catch (error){
        console.log(error);
      }
    },
    async save() {
      if (typeof this.categoria._id === "undefined") {
        try {
          let responseHttp = await categoria.add(this.categoria);
          this.closeModal();
          this.listar();
          this.categoria = this.categoriaMCreate;
          this.showMsg("Crear Registro", responseHttp.message, "success");
          this.limpiarCategoriaSave();
        } catch (error) {
          this.categoria = this.categoriaMCreate;
          this.showMsg(
            "Crear Registro",
            "Ocurrio un error al crear el registro",
            "danger"
          );
        }
      } else {
        if (typeof this.categoria._id != "undefined") {
          try {
            let responseHttp = await categoria.put(this.categoria);
            this.closeModal();
            this.listar();
            this.categoria = this.categoriaMUpdate;
            this.showMsg(
              "Editar Registro",
              responseHttp.message,
              "success"
            );
          } catch (error) {
            console.log(error);
            this.categoria = this.categoriaMUpdate;
            this.showMsg(
              "Editar Registro",
              "Ocurrio un error al editar el registro",
              "danger"
            );
          }
        }
      }
    },
  },
  created() {
    this.totalRows = this.items.length;
    this.listar();
  },
  components: {
    TableComponent
  }
};
</script>

<style scoped>
</style>