<template>
  <div>
    <!--NAV BAR TOP-->
    <NavBar
      :estadotoggled="estadotoggled"
      @chaingStateToggled="chaingStateToggled($event)"
    ></NavBar>

    <!--SECTION-->
    <div  
      :class="styleToggled" 
      id="wrapper" >
      <!-- SIDEBAR-->
      <AsideBar/>
      <!-- SIDEBAR-->

      <!-- Page Content -->
      <div id="page-content-wrapper">
        <!--Router View-->
        <router-view />
        <!--Router View-->
      </div>

      <!-- page-content -->
    </div>
    <!--SECTION-->

  </div>
</template>

<script>
import NavBar from '@/components/sistemaAdmin/home/NavBar.vue';
import AsideBar from '@/components/sistemaAdmin/asidebar/AsideBar.vue';
import store from '@/store';
export default {
  name: "App",
  data() {
    return {
      estadotoggled: true,
    };
  },
  computed: {
    styleToggled(){
      return { 'd-flex':this.estadotoggled, 'd-flex toggled':!this.estadotoggled }
    }
  },
  created() {
    store.dispatch("autoLogin");
  },
  methods: {
    chaingStateToggled(event) {
      this.estadotoggled = event
    }
  },
  components:{
    NavBar,
    AsideBar
  },
};
</script>
<style>
  @font-face {
    font-family: Lobster-Regular;
    src: url(./assets/fonts/Logo/Lobster-Regular.ttf);
  }

  @font-face {
      font-family: Roboto-Italic;
      src: url(./assets/fonts/Textos/Roboto/Roboto-Italic.ttf);
  }

  @font-face {
      font-family: Roboto-Medium;
      src: url(./assets/fonts/Textos/Roboto/Roboto-Medium.ttf);
  }

  @font-face {
      font-family: Roboto-Thin;
      src: url(./assets/fonts/Textos/Roboto/Roboto-Thin.ttf);
  }

  *{
      font-family:Roboto-Thin;
  }

  .Roboto-Italic{
      font-family:Roboto-Italic;
  }

  .Roboto-Medium{
      font-family:Roboto-Medium;
  }

  .Lobster-Regular{
      font-family:Lobster-Regular;
  }
  .color2{
    color:#ff97da;
  }
  .color1{
      color:#79c0de;
  }
  .color3{
      color:#0b7189;
  }
  .cursorMouse{
      cursor: pointer;
  }
</style>
<style lang="scss" scoped>

  @import "@/SCSS/sidebar/main";

</style>
