<template>
  <div>
    <p class="h1 text-center m-4 text-primary">
      <strong>{{titleTableComponent}}</strong>
    </p>
    <!--BUTTON OPEN MODAL-->
    <b-button
      v-if="activatedAdd"
      ref="btnsave"
      size="md"
      @click="mostrarModalSave"
      :block="true"
      class="d-flex justify-content-center align-items-center"
    >
      <font-awesome-icon icon="plus-circle" size="2x" :style="{color:'#28a745'}" />
      <p class="h5 mx-3" style="margin-top:5px;">Crear {{titleTableComponent}}</p>
    </b-button>
    <!-- User Interface controls -->
    <b-row class="my-4">
      <b-col lg="6" class="my-1">
        <b-form-group
          label="Ordenar Por"
          label-cols-sm="3"
          label-align-sm="right"
          label-size="sm"
          label-for="sortBySelect"
          class="mb-0"
        >
          <b-input-group size="sm">
            <b-form-select v-model="sortByLocal" id="sortBySelect" :options="sortOptions" class="w-75">
              <template v-slot:first>
                <option value>-- Sin selección --</option>
              </template>
            </b-form-select>
            <b-form-select v-model="sortDescLocal" size="sm" :disabled="!sortByLocal" class="w-25">
              <option :value="false">Asc</option>
              <option :value="true">Desc</option>
            </b-form-select>
          </b-input-group>
        </b-form-group>
      </b-col>

      <b-col lg="6" class="my-1">
        <b-form-group
          label="Iniciar Orden"
          label-cols-sm="3"
          label-align-sm="right"
          label-size="sm"
          label-for="initialSortSelect"
          class="mb-0"
        >
          <b-form-select
            v-model="sortDirectionLocal"
            id="initialSortSelect"
            size="sm"
            :options="['asc', 'desc', 'last']"
          ></b-form-select>
        </b-form-group>
      </b-col>

      <b-col lg="6" class="my-1">
        <b-form-group
          label="Buscar por"
          label-cols-sm="3"
          label-align-sm="right"
          label-size="sm"
          label-for="filterInput"
          class="mb-0"
        >
          <b-input-group size="sm">
            <b-form-input
              v-model="filterLocal"
              type="search"
              id="filterInput"
              placeholder="Ingrese Busqueda"
            ></b-form-input>
            <b-input-group-append>
              <b-button :disabled="!filterLocal" @click="limpiarFiltro">Limpiar</b-button>
            </b-input-group-append>
          </b-input-group>
        </b-form-group>
      </b-col>

      <b-col lg="6" class="my-1">
        <b-form-group
          label="Filtrar por"
          label-cols-sm="3"
          label-align-sm="right"
          label-size="sm"
          description="Deje todo sin marcar para no filtrar"
          class="mb-0"
        >
          <b-form-checkbox-group v-model="filterOnLocal" class="mt-1">
            <b-form-checkbox 
              v-for="(value, key) in filterCheckBox" 
              :key="key"
              :value="value.filter">
              {{value.value}}
            </b-form-checkbox>
          </b-form-checkbox-group>
        </b-form-group>
      </b-col>

      <b-col sm="5" md="6" class="my-1">
        <b-form-group
          label="Registros por pagina"
          label-cols-sm="6"
          label-cols-md="4"
          label-cols-lg="3"
          label-align-sm="right"
          label-size="sm"
          label-for="perPageSelect"
          class="mb-0"
        >
          <b-form-select v-model="perPageLocal" id="perPageSelect" size="sm" :options="pageOptions"></b-form-select>
        </b-form-group>
      </b-col>

      <b-col sm="7" md="6" class="my-1">
        <b-pagination
          v-model="currentPageLocal"
          :total-rows="totalRowsLocal"
          :per-page="perPageLocal"
          align="fill"
          size="sm"
          class="my-0"
        ></b-pagination>
      </b-col>
    </b-row>
    <b-row>
      <b-table
        hover
        thead-class="bg-secondary text-white "
        table-class
        show-empty
        small
        stacked="lg"
        :items="items"
        :fields="fields"
        :current-page="currentPageLocal"
        :per-page="perPageLocal"
        :filter="filterLocal"
        :filterIncludedFields="filterOnLocal"
        :sort-by.sync="sortByLocal"
        :sort-desc.sync="sortDescLocal"
        :sort-direction="sortDirectionLocal"
        @filtered="onFiltered"
      >
        <template v-slot:cell(name)="row">{{ row.value.first }} {{ row.value.last }}</template>

        <template v-slot:cell(actions)="row">
          <b-button size="sm" @click="row.toggleDetails">
            <font-awesome-icon
              :icon="row.detailsShowing ? 'eye-slash' : 'eye'"
              size="1x"
              :style="{color:'#007bff'}"
            />
            {{ row.detailsShowing ? 'Ocultar' : 'Ver más' }}
          </b-button>
          <b-button 
            v-if="activatedEdit"
            size="sm" 
            class ref="btnsave" 
            @click="mostrarModalUpdate(row.item)">
            <font-awesome-icon 
              icon="pen" 
              size="1x" 
              :style="{color:'#ffc107'}" 
              />Editar
          </b-button>
          <b-button 
            v-if="activatedModState"
            size="sm" 
            class 
            @click="modEstado(row.item)">
            <font-awesome-icon
              :icon="row.item.estado==1 ? 'ban' : 'check-double'"
              size="1x"
              :style="row.item.estado==1 ? {color:'#dc3545'} : {color:'#28a745'}"
            />
            {{ row.item.estado==1 ? 'Desactivar' : 'Activar' }}
          </b-button>
          <b-button 
            v-if="activatedDelete"
            size="sm" 
            class 
            @click="eliminar(row.item)">
            <font-awesome-icon icon="trash-alt" size="1x" :style="{color:'#dc3545'}" />Eliminar
          </b-button>
        </template>

        <template v-slot:row-details="row">
          <b-card>
            <ul  v-for="(value, key) in row.item" :key="key">
              <li v-if="filtrarValores(key)">{{ key }}: {{ value }}</li>
            </ul>
          </b-card>
        </template>
      </b-table>
    </b-row>
  </div>
</template>

<script>
export default {
  name: "TableComponent",
  props: {
    activatedDelete: {
      type: Boolean,
      default: false
    },
    activatedModState: {
      type: Boolean,
      default: false
    },
    activatedEdit: {
      type: Boolean,
      default: false
    },
    activatedAdd: {
      type: Boolean,
      default: false
    },
    filterCheckBox:{
      type: Array,
      default: () => []
    },
    titleTableComponent: {
      type: String,
      default: "Registro Sin Nombre"
    },
    parametroFiltrar: {
      type: Array,
      default: () => []
    },
    items: {
      type: Array,
      default: () => []
    },
    fields: {
      type: Array,
      default: () => []
    },
    currentPage: {
      type: Number,
      default: 1
    },
    perPage: {
      type: Number,
      default: 5
    },
    filter: {
      type: String,
      default: ''
    },
    filterOn: {
      type: Array,
      default: () => []
    },
    sortBy: {
      type: String,
      default: ""
    },
    sortDesc: {
      type: Boolean,
      default: false
    },
    sortDirection: {
      type: String,
      default: "asc"
    },
    pageOptions: {
      type: Array,
      default: () => []
    },
    totalRows: {
      type: Number,
      default: 1
    }
  },
  data() {
    return {
      sortByLocal: '',
      sortDescLocal: '',
      sortDirectionLocal: '',
      filterLocal: '',
      filterOnLocal: [],
      perPageLocal: 0,
      currentPageLocal: 1,
      totalRowsLocal: 0,
    };
  },
  methods: {
    filtrarValores(value){
      let filter = '';
      this.parametroFiltrar.forEach((parametroFiltro) => { 
        if(value === parametroFiltro){
          filter = parametroFiltro;
        }
      }); 
      return filter !== value;     
    },
    mostrarModalSave() {
      this.$emit("mostrarModalSave", true);
    },
    limpiarFiltro() {
      this.filterLocal = '';
    },
    onFiltered(filteredItems) {
      this.totalRowsLocal = filteredItems.length;
      this.currentPageLocal = 1;
    },
    eliminar(rowItem) {
      this.$emit("eliminar", rowItem);
    },
    mostrarModalUpdate(rowItem) {
      this.$emit("mostrarModalUpdate", rowItem);
    },
    modEstado(rowItem) {
      this.$emit("modEstado", rowItem);
    }
  },
  computed: {
    sortOptions() {
      // Create an options list from our fields
      return this.fields
        .filter(f => f.sortable)
        .map(f => {
          return { text: f.label, value: f.key };
        });
    },
  },
  created() {
    this.sortByLocal = this.sortBy;
    this.sortDescLocal = this.sortDesc;
    this.sortDirectionLocal = this.sortDirection;
    this.filterLocal = this.filter;
    this.filterOnLocal = this.filterOn;
    this.perPageLocal = this.perPage;
    this.currentPageLocal = this.currentPage;
    this.totalRowsLocal = this.totalRows;
  }
};
</script>

<style>
</style>